name: Packer Image Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
      - cron: "0 0 1 * *"  # Runs on the first day of the month at 12:00 AM UTC (adjust as needed)
  workflow_dispatch:    # Allows manual triggering via the GitHub Actions UI

jobs:
  packer-build:
    runs-on: [self-hosted, packer]  # Ensure your self-hosted runner has Packer installed
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run `packer init`
        working-directory: ubuntu
        id: initUbuntu
        run: "packer init ./ubuntu.pkr.hcl"

      - name: Build Ubuntu Images
        working-directory: ubuntu
        env:
          VCENTER_USERNAME: ${{ vars.VCENTER_USERNAME }}
          VCENTER_PASSWORD: ${{ secrets.VCENTER_PASSWORD }}
          VCENTER_SERVER: ${{ vars.VCENTER_SERVER }}
        run: |
          packer build -force \
            -var-file="ubuntu.pkrvars.hcl" \
            -var "vsphere_username=${VCENTER_USERNAME}" \
            -var "vsphere_password=${VCENTER_PASSWORD}" \
            -var "vsphere_server=${VCENTER_SERVER}" \
            -var='content_library_destination=vcf-lab-mgmt-contentlibrary' .   
              
      - name: Cleanup Packer cache
        run: |
          rm -rf ./.packer.d
          rm -rf ~/.cache/packer
      
      - name: Clean workspace
        run: "rm -rf $GITHUB_WORKSPACE/*"

